html {
    scroll-behavior: smooth;
}


/** Custom Fonts **/

@font-face {
    font-family: 'ChunkFive';
    src: url('../fonts/ChunkFive-Regular.otf') format('otf');
}

.montserrat-medium {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.chunkfive-bold {
    font-family: 'ChunkFive', sans-serif;
    font-weight: 900;
}


/** Custom colors **/

.text-brown {
    color: #5A2E2E;
}

.text-dark {
    color: #2A2C31;
}

.text-cream {
    color: #DFBA69;
}

.bg-my-dark {
    background-color: #2A2C31;
    color: white;
}

.bg-cream {
    background-color: #DFBA69;
}

.jumbotron-hero {
    background-image: url(../images/interior.jpg);
    background-position: bottom center;
    background-size: cover;
    min-height: 60vh;
}

.text-light {
    font-weight: 200;
}

.icon {
    height: 24px;
}

.spacer {
    margin: 5rem 0;
}

.booking {
    padding: 3rem 0;
}